{% extends "base.html" %}
{% load static %}

{% block title %}
    Donation Cancelled
{% endblock %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
{% endblock %}

{% block content %}
    <main class="paypal-cancel text-center">
        <h1>The transaction has been cancelled.</h1>
        <p>No money has been transferred.</p>
        <p><a href="{{ donation_url }}">Return to the donation form to try again</a></p>
    </main>
{% endblock %}
