:local(.canDrop) {
  &:local(.isOver) {
    background: linear-gradient(to bottom, green, transparent, transparent);
  }
  &:local(.isItemDragging):not(:local(.isOver)) {
    background: #7f7;
  }
}

:local(.isDragging) {
  opacity: 0.5;
}

:local(.editableInput) {
  color: #fff;
  background-color: #212529;
  border-color: #6c757d;
}

:local(.editableInput)::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

:not(:local(.canDrop)) {
  &:local(.isItemDragging):not(:local(.isDragging)) {
    background: #f77;
  }
}

:local(.row) {
  :local(.controls) {
    display: flex;
    align-items: center;
  }

  & button {
    background-color: transparent;
    outline: none;
  }
}
