.bid {
  width: 100%;
  border-bottom: var(--border-primary);
  padding: 8px 0;
  position: relative;

  &:hover {
    & .removeContainer {
      visibility: visible;
    }
  }
}

.bidHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  flex-wrap: wrap;
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 8px;
}

.allocation {
  margin-left: auto;
}

.bidAmount {
  text-align: right;
}
